<div [id]="carouselId" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Carousel inner -->
  <div class="carousel-inner">
    <div *ngFor="let caption of project.imageCaptions; let i = index"
         class="carousel-item"
         [ngClass]="{'active': i === 0}">
      <img [src]="caption.imageUrl" class="img" [alt]="caption.caption">
      <div class="carousel-caption">
        <h5>{{ caption.caption }}</h5>
      </div>
    </div>
  </div>

  <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <li *ngFor="let caption of project.imageCaptions; let i = index"
        [attr.data-target]="'#' + carouselId"
        [attr.data-slide-to]="i"
        [ngClass]="{'active': i === 0}">
    </li>
  </ol>

  <!-- Carousel controls -->
  <a class="carousel-control-prev"
     [attr.data-target]="'#' + carouselId"
     role="button"
     data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next"
     [attr.data-target]="'#' + carouselId"
     role="button"
     data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Project name and description -->
<div class="d-flex justify-content-center project_name">
  <a href="{{project.url}}" target="_blank">{{project.name}}
    <i class="bi bi-github p-2"></i>
  </a>
</div>

<p class="pb-3">
  {{ project.description }}
  <a *ngIf="project.demoUrl" href="{{project.demoUrl}}" target="_blank" class="text-info">Frontend demo ➡️</a>
</p>
