<section class="section background" id="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">About</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content">
          <p>
            I'm currently an Software Engineer at
            <a href="https://jantek.com/" class="underline-link">Jantek Electronics</a>.
            but my journey began in Electrical Engineering, following in the footsteps of my grandfather and dad. After three years in the field, I made the leap to Computer Science during the COVID era—sorry, Dad! 😅.
          </p>

          <p>
            <strong>When I'm not coding</strong>, you’ll find me spending time with my wife (we just got married in August 2024!), exploring new cuisines, traveling, lifting weights, playing basketball or volleyball, gaming (League and Valorant), listening to music, or organizing my thoughts into lists.
          </p>

          I’m actively seeking full-time opportunities where I can contribute my passion for creating innovative solutions!
        </div>
      </div>
    </div>
  </div>
</section>
