<footer class="footer section-colored" id="footer">
  <div class="footer_copyright">
    <div class="top">
      <span>Developed by Tim Jan</span>
    </div>
    <div class="bottom">
      <span>Design by <a href="https://bchiang7.github.io/" target="_blank">Brittany Chiang</a></span>
    </div>
  </div>
  <div
    class="footer_links"
    *ngFor="let link of links">
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      &nbsp;
      <img src="assets/images/Social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
  </div>
</footer>
