<section class="section other-projects" id="other-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">Other Projects</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content">
          <div
            class="project"
            *ngFor="let project of projects">
            <div class="project_name">
              <a href="{{project.url}}" target="_blank">{{project.name}}
                <i class="bi bi-github p-2"></i>
              </a>
            </div>
            <p>
              {{project.description}}
              <a *ngIf="project.demoUrl" href="{{project.demoUrl}}" target="_blank" class="text-info">Frontend demo ➡️</a>
            </p>
            <div class="project_used">
              <span
                class="project_used_item"
                *ngFor="let tech of project.techs">
                {{tech}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
