<section class="section background">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">Background</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content">
          <p>
            I'm currently an Software Engineer at
            <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Hello World Consulting LLC</a> building a workforce management solution for a time keeping company.
            I recently completed my Masters of Science in Computer Science at <a class="underline-link" href="http://www.fullerton.edu/" target="_blank">California State University, Fullerton</a>.
            My grandfather was an Electrical Engineer, my dad was an Electrical Engineer, so I followed their footsteps and completed my B.S. in Electrical Engineering at <a class="underline-link" href="http://www.fullerton.edu/" target="_blank">University of California, Irvine</a>.
            I worked in the Electrical Engineering field for 3 years before deciding to commit to a carreer change into Computer Science during Covid(Sorry Dad 😅).
          </p>

          <p>
            <strong>When I'm not coding</strong>, I'm probably eating, lifting weights, playing ball(basketball or volleyball), gaming(League and Valorant), eating, listening to music, making lists, traveling, or eating.
          </p>

          Currently seeking fulltime opportunities!
        </div>
      </div>
    </div>
  </div>
</section>
