<section class="section-colored experience" id="featured-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">Featured Projects</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content">

          <!-- TaskTrackr -->
          <div class="featured-project">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <mdb-carousel [controls]="true" [indicators]="false" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/1-Project-List.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Project List</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/2-Create-New-Project.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Create New Project</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/3-Edit-Project.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Edit Project</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/4-Add-Project-Task.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Add Project Task</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/5-Edit-Project-Task.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Edit Project Task</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/6-Users-List.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Users List</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/7-Add-User.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Add User</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TaskTrackr/8-Edit-User.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Edit User</h5>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
                <div class="col-lg-3">
                  <figcaption class="project__caption">
                    <div class="project__name">
                      <a href="https://github.com/TimothyJan/TaskTrackr" target="_blank">TaskTrakr</a>
                    </div>
                    <p>Full-Stack task management application using ASP.NET Core, Entity Framework Core, Angular, Bootstrap, and AWS RDS, enabling efficient project assignment, progress tracking, and team collaboration. <a href="https://timothyjan.github.io/TaskTrackr-Frontend/" target="_blank">Angular Demo</a></p>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>

          <!-- PplPro -->
          <div class="featured-project">
            <div class="continer">
              <div class="row">
                <div class="col-lg-9">
                  <mdb-carousel [controls]="true" [indicators]="false" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img
                        src="assets/images/PplPro/0-employee-list.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Employee List</h5>
                        <p>Create Employee and Employee List.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/PplPro/1-employee-list-dpt.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5 class="black-text">Employee List edit department</h5>
                        <p class="black-text">Edit Employee department dropdown.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/PplPro/2-employee-list-role.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5 class="black-text">Employee List edit role</h5>
                        <p class="black-text">Edit Employee role dropdown.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/PplPro/3-department-list.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5 class="black-text">Department List</h5>
                        <p class="black-text">Create Department and Department List.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/PplPro/4-department-list-edit.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5 class="black-text">Edit Department List</h5>
                        <p class="black-text">Edit Department.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/PplPro/5-role-list.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5 class="black-text">Role List</h5>
                        <p class="black-text">Create Role and Role List.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/PplPro/6-role-list-edit.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5 class="black-text">Edit Role List</h5>
                        <p class="black-text">Edit Role Department dropdown.</p>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
                <div class="col-lg-3">
                  <figcaption class="project__caption">
                    <div class="project__name">
                      <a href="https://github.com/TimothyJan/PplPro" target="_blank">PplPro</a>
                    </div>
                    <p>Full-stack Employee Management System using ASP.NET Core, Angular, Bootstrap, and Azure SQL, implementing DTOs for data transfer, repository patterns for data access, and RESTful APIs for efficient employee, department, and role management, deployed to Azure. <a href="https://timothyjan.github.io/PplPro-Frontend/" target="_blank">Angular Demo</a></p>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>

          <!-- ScreenCrit -->
          <div class="featured-project">
            <div class="continer">
              <div class="row">
                <div class="col-lg-9">
                  <mdb-carousel [controls]="true" [indicators]="false" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/0-desktop-movies.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Movie Page</h5>
                        <p>Movie Page and TV Shows Page have exact same format.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/1-desktop-moviesSearch.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Search Movies</h5>
                        <p>Search for Movies/TV Shows using the TMDB API.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/2-desktop-createReview.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Create/Edit Review</h5>
                        <p>Create and Edit reviews for your personal use.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/3-desktop-reviews.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption-below">
                        <h5>Review Page</h5>
                        <p>View your reviews. Click to Edit and Delete reviews for your personal use.</p>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
                <div class="col-lg-3">
                  <figcaption class="project__caption">
                    <div class="project__name">
                      <a href="https://github.com/TimothyJan/PplPro" target="_blank">ScreenCrit-MEAN</a>
                    </div>
                    <p>Full-stack movie/TV review app using the MEAN stack with a RESTful API, integrating MongoDB and the TMDB (The Movie Database) API for data management and Angular Material for UI.</p>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>
