<section class="section-colored" id="featured-projects">
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
        <div class="section_title">Featured Projects</div>
      </div>

      <div class="col-lg-10">
        <div class="section_content">

          <div class="featured-project">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">

                  <app-carousel [projectNumber]="2"></app-carousel>
                  <app-carousel [projectNumber]="1"></app-carousel>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
