<section class="section-colored experience" id="featured-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">Featured Projects</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content">

          <!-- ScreenCrit -->
          <div class="featured-project">
            <div class="continer">
              <div class="row">
                <div class="col-lg-9">
                  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/0-desktop-movies.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Movie Page</h5>
                        <p>Movie Page and TV Shows Page have exact same format.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/1-desktop-moviesSearch.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Search Movies</h5>
                        <p>Search for Movies/TV Shows using the TMDB API.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/2-desktop-createReview.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Create/Edit Review</h5>
                        <p>Create and Edit reviews for your personal use.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/ScreenCrit-MEAN/3-desktop-reviews.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Review Page</h5>
                        <p>View your reviews. Click to Edit and Delete reviews for your personal use.</p>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
                <div class="col-lg-3">
                  <figcaption class="project__caption">
                    <div class="project__name">
                      <a href="https://github.com/TimothyJan/ScreenCrit-MEAN" target="_blank">ScreenCrit-MEAN</a>
                    </div>
                    <p>Movie/TV review app using the MEAN stack with a RESTful API, integrating MongoDB and the TMDB (The Movie Database) API for data management and Angular Material for UI.</p>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>

          <!-- TodoList -->
          <div class="featured-project">
            <div class="continer">
              <div class="row">
                <div class="col-lg-9">
                  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TodoList/1-home.jpg"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Home Page</h5>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/TodoList/2-todolist.jpg"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Add, edit, and delete tasks</h5>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
                <div class="col-lg-3">
                  <figcaption class="project__caption">
                    <div class="project__name">
                      <a href="https://github.com/TimothyJan/TodoList-ASP.NetCore-MinimalAPI-Angular" target="_blank">TodoList</a>
                    </div>
                    <p>Full-stack Todo List app with an ASP.Net Core Minimal API and a dynamic Angular Material frontend.<a href="https://timothyjan.github.io/TodoList-Angular-Frontend/" target="_blank">Demo w/o API</a></p>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>

          <!-- Books-MEAN -->
          <div class="featured-project">
            <div class="continer">
              <div class="row">
                <div class="col-lg-9">
                  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img
                        src="assets/images/Books-MEAN/0-Mine.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Home Page</h5>
                        <p>With some of my favorite books!</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/Books-MEAN/1-Search.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Search Books</h5>
                        <p>Search for books using the Google Books api.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/Books-MEAN/2-Review.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Create/Edit Review</h5>
                        <p>Create and Edit reviews for your personal use.</p>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
                <div class="col-lg-3">
                  <figcaption class="project__caption">
                    <div class="project__name">
                      <a href="https://github.com/TimothyJan/Books-MEAN" target="_blank">Books-MEAN</a>
                    </div>
                    <p>Full-stack book review management system using Google Books API, MEAN stack (MongoDB, Express, Angular, Node), and Bootstrap. <a href="https://timothyjan.github.io/Books-Angular/" target="_blank">Demo w/o MongoDB</a></p>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>

          <!-- Music Controller -->
          <div class="featured-project">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
                    <mdb-carousel-item>
                      <img
                        src="assets/images/Music-Controller/1-HomePage.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Home Page</h5>
                        <p>Host creates a room for people to listen to Spotify music. </p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/Music-Controller/2-CreateRoomPage.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Create Room</h5>
                        <p>Modify settings accordingly.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/Music-Controller/3-RoomPagewSkip.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Room Page</h5>
                        <p>Room Page with code to join room.</p>
                      </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img
                        src="assets/images/Music-Controller/4-UpdateRoom.png"
                        class="d-block w-100"
                        alt="..."
                      />
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Update Room Settings</h5>
                        <p>Create and Edit reviews for your personal use.</p>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                </div>
                <div class="col-lg-3">
                  <figcaption class="project__caption">
                    <div class="project__name">
                      <a href="https://github.com/TimothyJan/Music-Controller-Web-App" target="_blank">Music Controller</a>
                    </div>
                    <p>Collaborative music playing full stack web app integrated with the third party Spotify API using Python(Django/Django Rest Framework) and Javascript(React)</p>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</section>
