<section class="section-colored skills" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">Skills</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content_skills">
          <div class="skillz">
            <div class="skillz_category">
              <div class="skillz_category_label">Languages</div>
                <p
                  class="skillz_category_item"
                  *ngFor="let language of languages">
                  {{language}}
                </p>
            </div>
            <div class="skillz_category">
              <div class="skillz_category_label">Frameworks/Tools</div>
                <p
                  class="skillz_category_item"
                  *ngFor="let framework of frameworks">
                  {{framework}}
                </p>
            </div>
            <div class="skillz_category">
              <div class="skillz_category_label">Databases</div>
                <p
                  class="skillz_category_item"
                  *ngFor="let database of databases">
                  {{database}}
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
