.skills .skillz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

.skills .skillz_category_label {
  font-weight: bold;
  font-size: 24px;
  color: #36363c;
  text-transform: uppercase;
}

.skills .skillz_category_item {
  margin: 3px 0;
  font-size: .9rem;
}
