<section class="section skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">Skills</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content">
          <div class="skillz">
            <div class="skillz_category">
              <div class="skillz_category_label">Languages</div>
              <ul>
                <li
                  class="skillz_category_item"
                  *ngFor="let language of languages">
                  {{language}}
                </li>
              </ul>
            </div>
            <div class="skillz_category">
              <div class="skillz_category_label">Frameworks</div>
              <ul>
                <li
                  class="skillz_category_item"
                  *ngFor="let framework of frameworks">
                  {{framework}}
                </li>
              </ul>
            </div>
            <div class="skillz_category">
              <div class="skillz_category_label">Tools</div>
              <ul>
                <li
                  class="skillz_category_item"
                  *ngFor="let tool of tools">
                  {{tool}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
