<section class="section experience" id="exp&edu">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="section_title">Experience & Education</div>
      </div>
      <div class="col-lg-10">
        <div class="section_content">
          <div
            class="jobs"
            *ngFor="let job of jobs">
            <div class="job">
              <div class="time-place">
                <div class="job_position">
                  {{job.position}}
                </div>
                <div class="job_time">
                  {{job.time}}
                </div>
              </div>
              <a href="{{job.url}}" class="text-info" target="_blank">{{job.company}}</a>
              <div
                class="job_description"
                *ngFor="let description of job.description">
                <ul>
                  <li>{{description}}</li>
                </ul>
              </div>
            </div>
          </div>

          <a href="https://Timothyjan.github.io/Resume.pdf" target="_blank" class="arrow-link">View My Resume ➡️</a>
        </div>
      </div>
    </div>
  </div>


</section>

